.header {
  padding: 20px 0;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 500;

  svg {
    width: 20px;
    height: 20px;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  background-color: transparent;

  &.dark {
    svg {
      fill: rgb(255, 255, 255);
      stroke: rgb(255, 255, 255);
    }
  }

  &.light {
    background-color: transparent;
  }
}
