.wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.actions,
.details {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inner {
  width: 100%;
}
